PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=skillerious@gmail.com
SMTP_PASS=lxci edwq rsia pvbt

CONTACT_TO_EMAIL=skillerious@gmail.com
MAIL_FROM_NAME=Prive Cartel
ALLOWED_ORIGINS=
